apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        # USE YOUR AUTHENTICATED USERNAME HERE
        image: aakash22sharma/exp1_k8s:latest 
        ports:
        - containerPort: 3000