@"
apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: <YOUR_DOCKERHUB_USERNAME>/exp1_k8s:latest
        ports:
        - containerPort: 3000
"@ | Out-File -FilePath k8s\deployment.yaml -Encoding utf8