name: CI/CD with GitOps

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push image
        run: |
          docker build -t aakash22sharma/exp1_k8s:${{ github.sha }} .
          docker push aakash22sharma/exp1_k8s:${{ github.sha }}

      - name: Update K8s Manifest
        run: |
          sed -i "s|image: aakash22sharma/exp1_k8s:.*$|image: aakash22sharma/exp1_k8s:${{ github.sha }}|" k8s/deployment.yaml
          git config --global user.name "github-actions[bot]"
          git config --global user.email "actions@github.com"
          git add k8s/deployment.yaml
          git commit -m "chore: update image to ${{ github.sha }}"
          git push